<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <global>
    <!--Local API URL-->
    <add key="CellDe_CellDeGetwayUrl" value="http://SellNet-web-gw-api.product.veridic.local/"></add>
    <!-- <add key="CellDe_LogisticMockAPIUrl" value="http://celldelogistic-api.product.veridic.local/"></add> -->
<!--Order Confirmation Mail - Customer === START ========= -->
    <!-- <add key="EmailFrom" value="veridictechnologies22@gmail.com"></add>
    <add key="EmailPassword" value="V3ridic@pp22"></add>
    <add key="EmailPort" value="587"></add>
    <add key="EmailHost" value="smtp.gmail.com"></add>
    <add key="Email_EnableSsl" value="true"></add>
    <add key="EmailSubject_OrderConfirmation" value="Order Confirm Mail"></add> -->
    <!--Order Confirmation Mail - Customer === END ========= -->

    <!-- <add key="ContractLogo" value="D:\Repository\Team\Product Team\Trunk\CellDe_BuyBack\Dev\Retail\CellDeRetailAPI\CellDeRetailAPI\Images\logo.png"></add>

 -->
  </global>
  <!-- <section name="development machine">
    <servers>
      <server name="localhost" />
    </servers> -->
    <!--<settings>
      <add key="EncryptionKeyForToken" value="!39(74~*(^@^#" type="string"/> 
      <add key="RedisPort" value="6379" />
      <add key="RedisHost" value="10.129.10.190" /> 
    </settings>-->
  <!-- </section> -->
</appSettings>

